.cirlce-progress-bar_container {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 35px;
   height: 35px;
}

.cirlce-progress-bar_svg {
position: relative;
width: 32px;
height: 32px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.cirlce-progress-bar_spin {
   fill: none; 
   stroke-width: 3;
   stroke: #303bd6;
   transform-origin: center;
   //transform: rotate (90deg);
   transition: stroke-dashoffset 0s;
}

.cirlce-progress-bar_value {
   position: absolute;
   font-size: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: rgb(74, 71, 71);
}